/*This is my world*/

*{
text-decoration: none;

}
/*font-family*/

@font-face{
  src:url(fonts/Allerta_Stencil/AllertaStencil-Regular.ttf);
  font-family: nos;
}
@font-face{
  src:url(fonts/Anton/Anton-Regular.ttf);
font-family: nos;
}

/*main code*/
*{
  tect-decoration: none;
}
body{
background-color: #fff;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px
}

header{
 background-color: #ff902a00;
 width: 30%;
 height: 120px;
 margin-bottom: 10px
}

header .header-brand{
font-family:'Anton', sans-serif;
font-size: 30px;
font-weight: 900;
color: #111;
text-transform: uppercase;
display: block;
margin: 10 auto;
margin-top: 10%;
margin-left:30%;
text-align: left;
    padding: 10px 0px;
}

header nav u1{
display: block;
margin: 0 auto;
width: fit-content;
}

header nav u1 li{
display: inline-block;
float: left;
list-style: none;
padding: 0 5px;


}
header nav u1 li a{
  font-family: 'Allerta Stencil', sans-serif;
color: #111;
margin: 10px;
display: inline-block;
text-decoration: none;
font-size: 10px;
}
